extends ../layout/head.pug 
block header
block content
    main.gsap-anim
        .rocket
            img.rocket__pic(src="images/roc.png", alt="")
            img.rocket__fire(src="images/fire2.png" alt="")
            img.rocket__stock(src="images/stock.png" alt="")
            img.rocket__cloud(src="images/cloud2.png", alt="")
        .scene.first-scene
            img.first-bg(src="images/1bg.jpg", alt="")
        
        .scene.second-scene 213
        .scene.therd-scene 213
block footer