extends ../layout/head.pug 
block header
block content
    main.gsap-anim
        .rocket
            img.rocket__pic(src="images/roc.png", alt="")
            img.rocket__fire(src="images/fire2.png" alt="")
            img.rocket__stock(src="images/stock.png" alt="")
            img.rocket__cloud(src="images/cloud2.png", alt="")
        .scene.first-scene
            img.first-bg(src="images/bg1.png", alt="")
        
        .scene.second-scene 
            img.second-bg(src="images/stars.jpg", alt="")
        //- .scene.therd-scene 
        //-     img.second-bg(src="images/bg2.png", alt="")
        //- .scene.therd-scene 213
block footer