extends ../layout/head.pug 
block content
    main
        section.bg-light
            .container-fluid
                .d-flex.flex-column.align-items-center.gap-3.w-50.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold Подпишись на нашу рассылку
                    p.color-main Присоединяйтесь к программе LFLF STORE, чтобы получать постоянные скидки и персональные предложения
                    a.btn-main.hover-main.ease(href="#") 
                        span.lh-100 Оформи подписку
                        +svg('pag-right', 20, 14)(class='icon') 
        section.about
            .container-fluid
                .d-flex.flex-column.align-items-center.gap-3.w-75.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold О компании
                    p.color-main LalaStore - магазин качественной и модной одежды и товаров для новорожденных и малышей до года. У нас вы подберете стильный комплект на выписку и базовый гардероб на первый год вашего ребенка.
                        <br><br>Качество товаров на высоте, так как мы работаем только с проверенными поставщиками. Все изделия имеют сертификаты качества.
                        <br><br>Нам доверяют, и к нам возвращаются!
                    .about 
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
        .bg-dark.my-5
            .container-fluid
                .d-flex.justify-content-around.flex-column.flex-lg-row.py-5.gap-5
                    .warm.scroll-warm
                        span WATCH THE BALL
                        .warm__wrap
                            .warm__path 
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 830 1080" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><path d="M547.185998,-104.000006v348.151628c-4.747005,50.531295-43.588719,75.138357-78.926469,82.410377l-387.521618-.000001c-61.020037,7.71199-77.227599,54.172458-76.592563,84.968999-6.334486,44.432177,36.320035,81.69378,75.516113,84.968999l665.245443,4.145c30.027354-.336999,74.311494,19.504228,80.017094,71.606877v36.112437c-1.349131,33.319195-31.420067,73.240655-64.946808,78.797685l-431.656025,4.144999c-40.592499-1.742436-78.167634,37.067246-79.600167,73.614456v420.467566" transform="translate(.000002 0.000006)" fill="none" stroke="#3f5787" stroke-width="2.16"/></svg>
                                .warm__ball.scroll-warm__ball
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" viewBox="0 0 112 112" aria-hidden="true">
                                        <circle cx="56.071" cy="56.071" r="55.773" fill="url(#paint0_radial_1635_47164)" transform="rotate(-1.35 56.071 56.071)"></circle>
                                        <circle cx="56.071" cy="56.071" r="55.773" fill="url(#pattern-scroll-ball-0)" fill-opacity=".2" transform="rotate(-1.35 56.071 56.071)"></circle>
                                        <defs>
                                            <radialGradient id="paint0_radial_1635_47164" cx="0" cy="0" r="1" gradientTransform="rotate(119.37 26.207 33.591) scale(172.624 128.068)" gradientUnits="userSpaceOnUse">
                                            <stop offset=".078" stop-color="#FFF4FE"></stop>
                                            <stop offset=".257" stop-color="#FFCDFC"></stop>
                                            <stop offset=".758" stop-color="#00BAE2"></stop>
                                            <stop offset=".851" stop-color="#0888A4"></stop>
                                            </radialGradient>
                                            <pattern id="pattern-scroll-ball-0" width=".1" height=".1" patternContentUnits="objectBoundingBox">
                                            <use xlink:href="#svg-noise" transform="scale(.002)"></use>
                                            </pattern>
                                        </defs>
                                    </svg>
                            img(src="images/worm-path.png", alt="")
                    .warm
                        span TOUCH THE BALL
                        .warm__wrap
                            .warm__path 
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 830 1080" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><path d="M547.185998,-104.000006v348.151628c-4.747005,50.531295-43.588719,75.138357-78.926469,82.410377l-387.521618-.000001c-61.020037,7.71199-77.227599,54.172458-76.592563,84.968999-6.334486,44.432177,36.320035,81.69378,75.516113,84.968999l665.245443,4.145c30.027354-.336999,74.311494,19.504228,80.017094,71.606877v36.112437c-1.349131,33.319195-31.420067,73.240655-64.946808,78.797685l-431.656025,4.144999c-40.592499-1.742436-78.167634,37.067246-79.600167,73.614456v420.467566" transform="translate(.000002 0.000006)" fill="none" stroke="#3f5787" stroke-width="2.16"/></svg>
                                .warm__ball.touch-warm__ball
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" viewBox="0 0 112 112" aria-hidden="true">
                                        <circle cx="56.071" cy="56.071" r="55.773" fill="url(#paint0_radial_1635_47164)" transform="rotate(-1.35 56.071 56.071)"></circle>
                                        <circle cx="56.071" cy="56.071" r="55.773" fill="url(#pattern-scroll-ball-0)" fill-opacity=".2" transform="rotate(-1.35 56.071 56.071)"></circle>
                                        <defs>
                                            <radialGradient id="paint0_radial_1635_47164" cx="0" cy="0" r="1" gradientTransform="rotate(119.37 26.207 33.591) scale(172.624 128.068)" gradientUnits="userSpaceOnUse">
                                            <stop offset=".078" stop-color="#FFF4FE"></stop>
                                            <stop offset=".257" stop-color="#FFCDFC"></stop>
                                            <stop offset=".758" stop-color="#00BAE2"></stop>
                                            <stop offset=".851" stop-color="#0888A4"></stop>
                                            </radialGradient>
                                            <pattern id="pattern-scroll-ball-0" width=".1" height=".1" patternContentUnits="objectBoundingBox">
                                            <use xlink:href="#svg-noise" transform="scale(.002)"></use>
                                            </pattern>
                                        </defs>
                                    </svg>
                            img(src="images/worm-path.png", alt="")
        .container-fluid
            .main-banner 
                a.banner.banner__lg(href="#")
                    .banner__text 
                        h1.fs--36-24.color-main.bold Большая зимняя распродажа от LeoKid
                        span.fs--18-14.color-dark Конверт Leokid Classic подходит для использования в любых колясках, автокреслах и санках. Для прогулок осенью, зимой, весной и даже прохладным летом.
                .banner.banner__xs.card-item.shadow
                    .card-item__pic
                        img(src="images/123.png", alt="")
                    .card-item__content 
                        h2 Hover only CSS
                        p Cloak join accident screen presently window josephine smiled clear, hood thief
                        a(href="#") Начать создавать
        section.my-5
            .seporate.mb-4
                span.color-main.fs--36-24.bold.text-center.px-5 Каталог
            .container-fluid
                .main-catalog
                    div
                        img(src="images/cat.jpg", alt="")
                        a.dropdown.dropdown--white(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false") Аксессуары 
                        ul.dropdown-menu 
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка Длинная
                            li: a.dropdown-item(href="#") Ссылка Очень Очень длинная
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка
                    div
                        img(src="images/cat.jpg", alt="")
                        a.dropdown.dropdown--white(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false") Аксессуары 
                        ul.dropdown-menu 
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка Длинная
                            li: a.dropdown-item(href="#") Ссылка Очень Очень длинная
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка
                    div
                        img(src="images/cat.jpg", alt="")
                        a.dropdown.dropdown--white(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false") Аксессуары 
                        ul.dropdown-menu 
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка Длинная
                            li: a.dropdown-item(href="#") Ссылка Очень Очень длинная
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка
                    div
                        img(src="images/cat.jpg", alt="")
                        a.dropdown.dropdown--white(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false") Аксессуары 
                        ul.dropdown-menu 
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка Длинная
                            li: a.dropdown-item(href="#") Ссылка Очень Очень длинная
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка
                    div
                        img(src="images/cat.jpg", alt="")
                        a.dropdown.dropdown--white(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false") Аксессуары 
                        ul.dropdown-menu 
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка Длинная
                            li: a.dropdown-item(href="#") Ссылка Очень Очень длинная
                            li: a.dropdown-item(href="#") Ссылка
                            li: a.dropdown-item(href="#") Ссылка
        section.my-5
            .seporate.mb-4
                span.color-main.fs--36-24.bold.text-center.px-5 Подборка
            .container-fluid
                .recomend
                    a.recomend-item(href='#')
                        img(src="images/ban2.jpg", alt="")
                        span Подборка №106
                    a.recomend-item(href='#')
                        img(src="images/ban2.jpg", alt="")
                        span Подборка №106
                    a.recomend-item(href='#')
                        img(src="images/ban2.jpg", alt="")
                        span Подборка №106
                    a.recomend-item(href='#')
                        img(src="images/ban2.jpg", alt="")
                        span Подборка №106
                    a.recomend-item(href='#')
                        img(src="images/ban2.jpg", alt="")
                        span Подборка №106
        section.bg-light
            .container-fluid
                .d-flex.flex-column.align-items-center.gap-3.w-50.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold Подпишись на нашу рассылку
                    p.color-main Присоединяйтесь к программе LFLF STORE, чтобы получать постоянные скидки и персональные предложения
                    a.btn-main.hover-main.ease(href="#") 
                        span.lh-100 Оформи подписку
                        +svg('pag-right', 20, 14)(class='icon') 
        section.about
            .container-fluid
                .d-flex.flex-column.align-items-center.gap-3.w-75.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold О компании
                    p.color-main LalaStore - магазин качественной и модной одежды и товаров для новорожденных и малышей до года. У нас вы подберете стильный комплект на выписку и базовый гардероб на первый год вашего ребенка.
                        <br><br>Качество товаров на высоте, так как мы работаем только с проверенными поставщиками. Все изделия имеют сертификаты качества.
                        <br><br>Нам доверяют, и к нам возвращаются!
                    .about 
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
        section.bg-light
            .container
                .d-flex.flex-column.align-items-center.gap-3.w-50.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold Подпишись на нашу рассылку
                    p.color-main Присоединяйтесь к программе LFLF STORE, чтобы получать постоянные скидки и персональные предложения
                    a.btn-main.hover-main.ease(href="#") 
                        span.lh-100 Оформи подписку
                        +svg('pag-right', 20, 14)(class='icon') 
        section.about
            .container 
                .d-flex.flex-column.align-items-center.gap-3.w-75.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold О компании
                    p.color-main LalaStore - магазин качественной и модной одежды и товаров для новорожденных и малышей до года. У нас вы подберете стильный комплект на выписку и базовый гардероб на первый год вашего ребенка.
                        <br><br>Качество товаров на высоте, так как мы работаем только с проверенными поставщиками. Все изделия имеют сертификаты качества.
                        <br><br>Нам доверяют, и к нам возвращаются!
                    .about 
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
        section.bg-light
            .container
                .d-flex.flex-column.align-items-center.gap-3.w-50.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold Подпишись на нашу рассылку
                    p.color-main Присоединяйтесь к программе LFLF STORE, чтобы получать постоянные скидки и персональные предложения
                    a.btn-main.hover-main.ease(href="#") 
                        span.lh-100 Оформи подписку
                        +svg('pag-right', 20, 14)(class='icon') 
        section.about
            .container 
                .d-flex.flex-column.align-items-center.gap-3.w-75.mx-auto.py-5.text-center
                    h4.color-main.fs--32-24.bold О компании
                    p.color-main LalaStore - магазин качественной и модной одежды и товаров для новорожденных и малышей до года. У нас вы подберете стильный комплект на выписку и базовый гардероб на первый год вашего ребенка.
                        <br><br>Качество товаров на высоте, так как мы работаем только с проверенными поставщиками. Все изделия имеют сертификаты качества.
                        <br><br>Нам доверяют, и к нам возвращаются!
                    .about 
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа
                        .about__item 
                            +svg('marker')(class='icon color-white size--60-40')
                            h5.fs--16-12.color-main.bold Быстрая доставка
                            span.fs--14-12 Бережно доставляем товары по России за 24 часа

