extends ../layout/head.pug 
block header
block content
    main
        .wrap-img 
            div.bg-main 123
            div.bg-second 222
            div.bg-accent 333
        .container-fluid 
            span.fs--72-32 21323 ffdsf dsg sg sfd
block footer