include mixins.pug
footer.footer.bg-dark.py-5
    .container 
        a.bestweb-wr(href="https://bestweb.ru/" target="_blank" title="Разработка сайта, поддержка сайта Bestweb г.Уфа")
            +svg('bestweb', 151, 60)(class='icon-fill js-bw-logo bw-light')
