@font-face {
	font-family: 'Montserrat'; 
	src: url(../fonts/Montserrat-Regular.ttf); 
	font-display: swap;
}
@font-face {
	font-family: 'Montserrat bold'; 
	src: url(../fonts/Montserrat-Bold.ttf); 
	font-display: swap;
}

:root {
	scroll-behavior: inherit;
	--bs-gutter-x: 20px;

	--fs-72-32: 4.5rem;
	--fs-72-24: var(--fs-72-32);
	--fs-48-24: 3rem;
	--fs-48-sm-18: var(--fs-48-24);
	--fs-48-xs-18: var(--fs-48-24);
	--fs-36-24: 2.25rem;
	--fs-36-sm-18: var(--fs-36-24);
	--fs-32-24: 2rem;
	--fs-32-sm-18: var(--fs-32-24);
	--fs-32-sm-16: var(--fs-32-24);
	--fs-24-18: 1.5rem;
	--fs-24-lg-16: var(--fs-24-18);
	--fs-24-sm-16: var(--fs-24-18);
	--fs-18-16: 1.125rem;
	--fs-18-14: var(--fs-18-16);
	--fs-16-14: 1rem;
	--fs-16-sm-12: var(--fs-16-14);
	--fs-16-xs-12: var(--fs-16-14);
	--fs-16-sm-10: var(--fs-16-14);
	--fs-16-xs-10: var(--fs-16-14);
	--fs-14-12: 0.875rem;
	--fs-14-sm-10: var(--fs-14-12);
	--fs-14-xs-10: var(--fs-14-12);

	--grid-5-2: 5;
	--grid-3-1: 3;
	--grid-2-1: 2;
	--grid-2fr-1fr: 2fr 1fr;
	--grid-1fr-2fr: 1fr 2fr;

	--height-60-50: 60px;
	--height-60-40: 60px;

	--wrapper-gap: 20px;
	--border-raduis: 45px;

	--main-color: #33394F;
	--main-color-hover: #33394F;
	--accent-color: #f7d05e;
	--accent-color-hover: #0b7cde;
	--second-color: #e6e6e6;
	--second-light-color: #f3f3f3;
	--text-color: #000;
}

.row {--bs-gutter-x: 40px;}

$r: 'Montserrat', sans-serif;
$bold: 'Montserrat bold';
$browser-context: 16px;
$trans: all .2s ease-out;

%flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes up {
	from {transform: translateY(0px);}
	to {transform: translateY(-5px);}
}
@keyframes down {
	from {transform: translateY(0px);}
	to {transform: translateY(5px);}
}
@keyframes right {
	from {transform: translatex(0px);}
	to {transform: translatex(5px);}
}
@keyframes left {
	from {transform: translatex(0px);}
	to {transform: translatex(-5px);}
}
@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

*, *::before, *::after { box-sizing: border-box;}
a {cursor: pointer; color: inherit;}
a, a:hover, a:focus {text-decoration: none; outline: 0; -moz-outline: 0;}
button, button:hover, button:focus, .btn:focus, .btn:active:focus {outline: 0; -moz-outline: 0;}
button {border: none; background: none; margin: 0; padding: 0;}
img {max-width: 100%; max-height: 100%; width: 100%; height: auto;}
textarea {max-width: 100%; width: 100%; min-width: 100%; min-height: 40px;}
ul, ol {list-style: none; margin: 0; padding: 0;}
h1, h2, h3, h4, h5, p, dt, dd {padding: 0; margin: 0;}
b, dt, h1, h2, h3, h4, h5, strong {font-family: $bold; font-weight: normal;} 

html { 
	height: 100%; 
	font-size: $browser-context; 
}
body {
	height: 100%;
	min-width: 320px;
	font-family: $r;
	color: var(--text-color);
	background: #fff;
}
header {
	flex: 0 0 auto;
}
main {
	flex: 1 0 auto;
}
footer {
	flex: 0 0 auto;
}

.wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0 auto;
	gap: var(--wrapper-gap);
	overflow: hidden;
}
.bestweb {
	.bw-logo {transition: $trans; color: var(--bw-logo);}
	.bw-logo-text {transition: $trans; color: var(--bw-logo-text);}
	.bw-text {transition: $trans; color: var(--bw-text); opacity: var(--bw-opacity);}
	.bw-text-hover {transition: $trans; color: var(--bw-text-hover); opacity: var(--bw-opacity-hover);}
}


.text-preview {

	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;

	&-open { cursor: pointer; }
	&.open { -webkit-line-clamp: inherit; }
}
.fs {
	&--72-32 { font-size: var(--fs-72-32); }
	&--72-24 { font-size: var(--fs-72-24); }

	&--48-24 { font-size: var(--fs-48-24); }
	&--48-sm-18 { font-size: var(--fs-48-sm-18); }
	&--48-xs-18 { font-size: var(--fs-48-xs-18); }

	&--36-24 { font-size: var(--fs-36-24); }
	&--36-sm-18 { font-size: var(--fs-36-sm-18); }

	&--32-24 { font-size: var(--fs-32-24); }
	&--32-sm-18 { font-size: var(--fs-32-sm-18); }
	&--32-sm-16 { font-size: var(--fs-32-sm-16); }

	&--24-18 { font-size: var(--fs-24-18); }
	&--24-lg-16 { font-size: var(--fs-24-lg-16); }
	&--24-sm-16 { font-size: var(--fs-24-sm-16); }

	&--18-16 { font-size: var(--fs-18-16); }
	&--18-14 { font-size: var(--fs-18-14); }

	&--16-14 { font-size: var(--fs-16-14); }
	&--16-sm-12 { font-size: var(--fs-16-sm-12); }
	&--16-xs-12 { font-size: var(--fs-16-xs-12); }
	&--16-sm-10 { font-size: var(--fs-16-sm-10); }
	&--16-xs-10 { font-size: var(--fs-16-xs-10); }

	&--14-12 { font-size: var(--fs-14-12); }
	&--14-sm-10 { font-size: var(--fs-14-sm-10); }
	&--14-xs-10 { font-size: var(--fs-14-xs-10); }
}
.fw {
	&-bold { font-family: $bold; font-weight: normal !important;}
	&-normal { font-family: $r; font-weight: normal; }
}
.lh {
	&-100 { line-height: 1;}
	&-125 { line-height: 1.25;}
	&-140 { line-height: 1.4;}
}
.bg {
	&-main { background:  var(--main-color); }
	&-accent { background:  var(--accent-color); }
	&-second { background:  var(--second-color); }
	&-light { background:  var(--second-light-color); }
	&-white { background: #fff; }
	&-black { background: #000; }
	&-dark { background-color: #333 !important; }
}
.color {
	&-main { color: var(--main-color); }
	&-accent { color: var(--accent-color); }
	&-second { color: var(--second-color); }
	&-light { color: var(--second-light-color); }
	&-white { color: #fff; }
	&-black { color: #000; }
	&-dark { color: #333; }
}
.outline {
	&-main { box-shadow: 0 0 0 0.15rem var(--main-color); }
	&-accent { box-shadow: 0 0 0 0.15rem var(--accent-color); }
	&-second { box-shadow: 0 0 0 0.15rem var(--second-color); }
	&-light { box-shadow: 0 0 0 0.15rem var(--second-light-color); }
	&-white { box-shadow: 0 0 0 0.15rem #fff; }
	&-black { box-shadow: 0 0 0 0.15rem #000; }
	&-dark { box-shadow: 0 0 0 0.15rem #333; }
}
.hover {

	cursor: pointer;
	transition: $trans;

	&-opacity { &:hover, &:focus { opacity: .7 !important;} }

	&-main { &:hover, &:focus { font-weight: bold; color: var(--main-color-hover) !important;} }
	&-accent { &:hover, &:focus { color: var(--accent-color-hover) !important;} }
	&-second { &:hover, &:focus { color: var(--second-color) !important;} }
	&-light { &:hover, &:focus { color: var(--second-light-color) !important;} }
	&-white { &:hover, &:focus { color: #fff !important;} }
	&-black { &:hover, &:focus { color: #000 !important;} }
	&-dark { &:hover, &:focus { color: #333 !important;} }
	
	&-bg-main { &:hover, &:focus { background: var(--main-color-hover) !important;} }
	&-bg-accent { &:hover, &:focus { background: var(--accent-color-hover) !important;} }
	&-bg-second { &:hover, &:focus { background: var(--second-color) !important;} }
	&-bg-light { &:hover, &:focus { background: var(--second-light-color) !important;} }
	&-bg-white { &:hover, &:focus { background: #fff !important;} }
	&-bg-black { &:hover, &:focus { background: #000 !important;} }
	&-bg-dark { &:hover, &:focus { background-color: #333 !important;} }

	&-outline-main { &:hover, &:focus { box-shadow: 0 0 0 0.15rem var(--main-color-hover) !important;} }
	&-outline-accent { &:hover, &:focus { box-shadow: 0 0 0 0.15rem var(--accent-color-hover) !important;} }
	&-outline-second { &:hover, &:focus { box-shadow: 0 0 0 0.15rem var(--second-color) !important;} }
	&-outline-light { &:hover, &:focus { box-shadow: 0 0 0 0.15rem var(--second-light-color) !important;} }
	&-outline-white { &:hover, &:focus { box-shadow: 0 0 0 0.15rem #fff !important;} }
	&-outline-black { &:hover, &:focus { box-shadow: 0 0 0 0.15rem #000 !important;} }
	&-outline-dark { &:hover, &:focus { box-shadow: 0 0 0 0.15rem #333 !important;} }

	&-shadow-main { &:hover, &:focus { box-shadow: 0 0 15px 0.05rem var(--main-color-hover) !important;} }
	&-shadow-accent { &:hover, &:focus { box-shadow: 0 0 15px 0.05rem var(--accent-color-hover) !important;} }
	&-shadow-second { &:hover, &:focus { box-shadow: 0 0 15px 0.05rem var(--second-color) !important;} }
	&-shadow-dark { &:hover, &:focus { box-shadow: 0 0 10px 0.05rem #333 !important;} }
	
	@media (hover: hover) {
		&-anim-up {  &:hover { animation: up 300ms normal forwards} }
		&-anim-down { &:hover {animation: down 300ms normal forwards} }
		&-anim-right { &:hover {animation: right 300ms normal forwards} }
		&-anim-left { &:hover { animation: left 300ms normal forwards} }
	}
}
.radius {
	&-main { border-radius: var(--border-raduis); }
}
.bold {
	font-family: $bold;
}
.ease {
	transition: $trans;
}



.grid {
	
// +1399 / 1399 - 991 / 991-

	&--3-2-2 {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@media screen and (max-width: 1399px){ grid-template-columns: repeat(2, 1fr);}
	}
	&--3-3-2 {
		@extend .grid--3-2-2;
		@media screen and (max-width: 1399px){ grid-template-columns: repeat(3, 1fr);}
		@media screen and (max-width: 991px){ grid-template-columns: repeat(2, 1fr);}
	}
	&--3-2-1 {
		@extend .grid--3-2-2;
		@media screen and (max-width: 991px){ grid-template-columns: 1fr;}
	}

	&--4-2-1 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@media screen and (max-width: 1399px){ grid-template-columns: repeat(2, 1fr);}
		@media screen and (max-width: 991px){ grid-template-columns: 1fr;}
	}
	&--4-2-2 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@media screen and (max-width: 1399px){ grid-template-columns: repeat(2, 1fr);}
	}

	&-out {grid-column: 1 / -1;}
}
.flex-center {
	@extend %flex-center
}
.self-center {
	align-self: center;
	justify-self: center;
}
.size {

	width: auto;
	height: auto;

	&--content { width: fit-content;}

	&--60-50 {
		width: 60px;
        height: 60px;
        @media screen and (max-width: 1199px){
            width: 50px;
            height: 50px;
		}
	}

	&--60-40 {
		width: 60px;
        height: 60px;
        @media screen and (max-width: 1199px){
            width: 40px;
            height: 40px;
		}
	}

	&--60-30 {
		width: 60px;
        height: 60px;
        @media screen and (max-width: 1199px){
            width: 30px;
            height: 30px;
		}
	}

	&--50-30 {
		width: 50px;
        height: 50px;
        @media screen and (max-width: 1199px){
            width: 30px;
            height: 30px;
		}
	}

	&--40-30 {
		width: 40px;
        height: 40px;
        @media screen and (max-width: 1199px){
            width: 30px;
            height: 30px;
		}
	}

	&--40-20 {
		width: 40px;
        height: 40px;
        @media screen and (max-width: 1199px){
            width: 20px;
            height: 20px;
		}
	}

	&--30-25 {
		width: 30px;
        height: 30px;
        @media screen and (max-width: 1199px){
            width: 25px;
            height: 25px;
		}
	}
}
.icon {
	stroke: currentColor;
	&-fill { fill: currentColor; }
}
.hidden {
	display: none !important;
}
.hide {
	visibility: hidden;
}
.open-menu {
	overflow: hidden!important; 
	padding-right: 0;
}
.offcanvas {
	overflow-y: auto;
}
.dropdown {

	display: flex;
	align-items: center;
	gap: 8px;

	&::after {
		content: '';

		display: block;
		width: 6px;
		height: 6px;
		margin-top: 5px;

		border: 4px solid transparent; 
		border-top: 6px solid #999;
	}

	&--white {  &::after { border-top: 6px solid #fff; } }
}
.dropdown-menu {
	max-width: 85vw;
	padding: 0.5em;
	border: 1px solid var(--second-light-color);
	border-radius: 10px;
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15) !important;
	z-index: 101;
}
.dropdown-item {
	padding: 0.45rem 1rem;
	font-size: var(--fs-16-14);
	white-space: normal;
	border-radius: 4px;
	&:hover {background: var(--accent-color); color: var(--main-color-hover); font-weight: 900;}
}


.btn {

	&-main {
		
		display: flex;
		align-items: center;
		gap: 8px;
		padding: 15px 30px;

		color: #fff;
		font-family: $bold;
		text-transform: uppercase;
		background: var(--accent-color);
		border-radius: var(--border-raduis);
	}
}


.breadcrumb {

	display: block;
	margin-bottom: 2rem;

	&__list {
		display: flex;
		padding-bottom: 10px;
		font-size: 18px;
		white-space: nowrap;
		overflow-x: auto;
	}

	&__item {

		> a {
			color: #000;
			font-size: var(--fs-14-12);
			width: fit-content;
			transition: $trans;
			&:hover {opacity: 1;}
		}

		&:not(:last-child) {
			&::after {
				content: '—';
				color: #000;
				padding: 0 15px;
			}
		}

		&:last-child:not(:first-child) > a:not(.dropdown-toggle) { 
			pointer-events: none;
			color: #000;
			opacity: 0.25;
		}
	}

	.dropdown-toggle {
		&::after {
			content: '';
			border: none;
			width: 6px;
			height: 6px;
			margin-left: 7px;
			vertical-align: middle;
			background: url(../images/dropdown-black.svg);
			background-repeat: no-repeat;
		}
	}

}
.search-form {

	position: relative;
	width: 100%;

	svg {
		position: absolute;
		top: calc(50%);
		left: 25px;
		transform: translateY(-50%);

		color: #ccc;
	}
	
	input {
		width: 100%;
		height: var(--height-60-50);
		border-radius: 45px;
		background: #f3f3f3;
		padding: 15px 160px 15px 80px;
		transition: $trans;
		outline: none;
		border: none;
	}

	button {
		position: absolute;
		z-index: 5;
		top: 0;
		right: 0;

		height: 100%;
		padding: 0 45px;

		color: #fff;
		font-family: $bold;
		background: #f7d05e;
		text-transform: uppercase;
		border-radius: 0 45px 45px 0;
		transition: $trans;
	}
}
.form {

	input {
		height: var(--height-60-50) !important;
		padding-left: 30px !important;
		border: none;
		outline: none;
	}

	.form-floating label {
		padding-left: 30px !important; 
		font-size: var(--fs-16-14);
		@media screen and (max-width: 1199px){ padding: 0.85rem 0.75rem; }
	}

	button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		height: var(--height-60-50);
		padding: 0 30px;
	}
}
.pagination {

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;

	@media screen and (max-width: 1199px) {

		justify-content: center;

		ul {
			&:first-child { order: 2; }
			&:last-child { order: 3; }
			&:not(:last-child):not(:first-child) { width: 100%; justify-content: center; }
		}
	}

	a { 
		border-radius: 8px;
		&.active { color: #fff; background: #000; pointer-events: none; }
		&.disable { color: #7F7F7F; pointer-events: none; }
	}
}



.page {

	&__title {
		color: inherit;
		font-size: var(--fs-32-24);
		font-family: $bold;
	}
	&__subtitle {
		color: inherit;
		font-size: var(--fs-24-lg-16);
		font-family: $bold;
	}
	&__subhead {
		color: inherit;
		font-size: var(--fs-18-14);
		font-family: $bold;
	}
	&__second-text {
		color: #A7A9AC;
		font-size: var(--fs-16-sm-12);
	}
	&__link {
		white-space: nowrap;
		text-decoration: underline;
		text-underline-offset: 6px;
		text-decoration-color: var(--main-color);
		transition: $trans;
		&:hover {
			color: var(--main-color-hover);
			text-decoration: none;
		}
	}
	&__menu-link {
		&:hover {color: var(--main-color-hover);}
	}
	&__dotted {
		text-decoration: underline;
		text-decoration-style: dotted;
		text-decoration-color: var(--main-color);
		text-underline-offset: 6px;
		&:hover {text-decoration: none;}
	}
	&__underline {
		text-decoration: underline;
		text-decoration-color: var(--second-color);
		text-underline-offset: 6px;
		&:hover {text-decoration: none;}
	}

	&__checkbox {

		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			svg rect {fill: var(--main-color-hover);}
			svg polyline {stroke: var(--main-color-hover);}
		}

		input {
			position: absolute;
			left: 10px;
			bottom: 0;
			width: 1px !important;
			height: 1px !important;
			border: none !important;
			box-shadow: none !important;
			&:checked {
				~ svg rect {fill: var(--main-color);}
				~ svg polyline {stroke: #fff;}
			}
		}

		svg {margin-right: 10px; flex-shrink: 0;}
		svg rect {fill: var(--second-light-color);}
		svg polyline {stroke: var(--second-light-color);}

	}
	&__radio {

		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			svg rect:last-child {fill: var(--main-color);}
		}

		input {
			width: 1px;
			&:checked {
				~ svg rect:first-child {fill: var(--main-color);}
			}
		}

		svg { margin-right: 10px; }
		svg rect { fill: var(--second-light-color); }
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 20px;

		img {
			width: 100%;
			max-height: 600px;
			border-radius: 10px;
		}
		h2 { @extend .page__title; }
		h3 { @extend .page__subtitle; }
		h4 { @extend .page__subhead; }
		a { 
			@extend .page__menu-link; 
			@extend .page__dotted; 
		}


		ul {
			display: flex;
			flex-direction: column;
			gap: 15px;
			padding-left: 15px;
			list-style: none;
			li {
				padding-left: 15px;
				&::marker {
					content: '—';
					color: var(--main-color);
				}
			}
		}

		ol {
			display: flex;
			flex-direction: column;
			gap: 15px;
			list-style-type: none;
			counter-reset: num;
			li {
				counter-increment: num;
				display: flex;
				gap: 10px;
				&:before {
					content: counter(num);
					color: var(--main-color);
				}
				&:nth-child(-n+9)::before {content: "0" counter(num);}
			}
		}

		table {
			display: block;
			overflow-x: auto;

			thead tr {
				color: #fff;
				font-family: $bold;
				background: #000;
			}
			tbody tr{
				&:nth-child(even) { background: var(--second-light-color); }
				&:hover { background: var(--accent-color); color: #fff;}
			}
			td {
				padding: 20px;
				font-size: var(--fs-16-sm-12);
				font-weight: normal;
				&:first-child {border-radius: 16px 0 0 16px;}
				&:last-child {border-radius: 0 16px 16px 0;}
			}
		}
		blockquote {
			font-size: var(--fs-18-16);
		}
		p {font-size: var(--fs-16-14);}

		span {font-size: 12px; color: var(--accent-color);}
		

		.cols-2 {
			display: grid;
			grid-template-columns: repeat(var(--grid-2-1), 1fr);
			gap: 40px 80px;
		}
		.cols-3 {
			display: grid;
			grid-template-columns: repeat(var(--grid-3-1), 1fr);
			gap: 40px 80px;
		}
		.cols-2-1 {
			display: grid;
			grid-template-columns: var(--grid-2fr-1fr);
			gap: 40px 80px;
		}
		.cols-1-2 {
			display: grid;
			grid-template-columns: var(--grid-1fr-2fr);
			gap: 40px 80px;
		}
		.cols-auto {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			grid-auto-flow: row dense;
			gap: 20px;
		}
	}
}
.search-result {

	&__item {

		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 30px 0;
		border-bottom: 1px solid #7F7F7F;

		small {
			align-self: center;
			font-size: var(--fs-16-14);
			color: #7F7F7F;
		}

		ul li:not(:first-child):not(:last-child) {
			&::after {
				content: '\00a0/\00a0';
				color: #7F7F7F;
			}
		}
	}
}


.header { 

	&__top {
		background: var(--second-light-color);
	}

	&__line {
		display: grid;
		grid-template-columns: 200px 1fr 320px;
		align-items: center;
		gap: 20px 50px;
		padding: 35px 0;
	}
}

.contact-item {
	display: flex;
	align-items: center;
	gap: 15px;
}

.nav {

	display: flex;
	align-items: center;
	gap: 10px 40px;

	a.active { font-family: $bold;}

}

.control {

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		font-size: 10px;
	}
}

.main-banner {
	display: grid;
	grid-template-columns: 1fr 320px;
	gap: 30px;
}

.banner {
	position: relative;
	z-index: 5;
	min-height: 358px;
	border-radius: 16px;
	overflow: hidden;

	&__lg {
		background: url(../images/ban1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__xs {
		background: url(../images/ban2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: 25px;
		max-width: 500px;

		padding: 60px 0 60px 45px;
	}
}

.seporate {

	display: flex;
	align-items: center;
	justify-content: center;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border-top: 1px solid var(--main-color);
	}

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		border-top: 1px solid var(--main-color);
	}

	> span  { white-space: nowrap; }
}

.main-catalog {

	display: grid;
	grid-template-columns: 365px repeat(2, 300px) 1fr;
	grid-template-rows: repeat(2, 380px);
	gap: 20px;

	div {

		position: relative;

		> img {

			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: 16px;
		}

		> a {

			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;

			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 75px;

			color: #fff;
			font-family: $bold;
			text-transform: uppercase;
			background: var(--accent-color);
			border-radius: 0 0 16px 16px;
		} 
	}

	div:nth-child(1) {grid-row: span 2;}
	div:nth-child(2) {grid-column: span 2;}
	div:nth-child(5) {grid-row: -1/-3; grid-column: 4/5;}
}


.recomend {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
}

.recomend-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;

	&:hover { color: var(--main-color-hover); }
}

.about {

	display: flex;
	justify-content: space-between;
	margin-top: 50px;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-basis: 20%;
		gap: 10px;

		text-align: center;

		svg {
			padding: 10px;
			background: var(--accent-color);
			border-radius: 50%;
		}
	}
}

.warm {

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	span {
		color: #fff;
		font-size: clamp(1.5rem, 4.5vw, 5rem);
	}

	&__wrap {
		position: relative;
		width: 100%;
		max-width: 800px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;

	}

	&__path {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%)translateY(-50%);
		width: 85%;
		height: auto;
		z-index: 4;

		> svg { visibility: hidden; }
	}

	&__ball { 
		position: absolute;
		top: 0 - 40px;
		left: 0 - 40px;
		z-index: 10;

		width: 80px;
		height: 80px;

		cursor: pointer;
	}
}

.card-item {

	position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #049add;
		clip-path: circle(150px at 80% 20%);
		transition: 0.55s ease-in-out;
	}

	@media (hover: hover) {
		&:hover {

			.card-item__pic {
				top: 0%;
				transform: translate(20%, 10%)  scale(1.3) ;
			}

			.card-item__content {
				height: 210px;
			}
	
			.card-item__content a {
				opacity: 1;
				transform: translateY(0px);
				transition-delay: 0.05s;
			}
	
			.card-item__content p {
				opacity: 1;
				visibility: visible;
				transition-delay: 0.3s;
				color: #cacaca;
				line-height: 1.4;
				margin-bottom: 20px;
				margin-top: 10px;
				font-size: 14px;
			}
	
			&:before {
				clip-path: circle(300px at 80% -20%);
			}
		}
	}


	&__pic {
		position: absolute;
		top: 60%;
		transform: translateY(-50%);
		z-index: 1;
		width: 400px;
		height: 420px;
		transition: 0.5s;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 317px;
			filter: brightness(0.6) hue-rotate(334deg);
		}
	}

	&__content {
		position: absolute;
		bottom: 40px;
		width: 100%;
		height: 100px;
		text-align: center;
		transition: 1s;
		z-index: 10;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		@media (hover: none) {
			height: 210px;
		}

		h2 {
			position: relative;
			font-weight: 600;
			letter-spacing: 1px;
			color: #fff;
			margin: 0;
			font-size: 27px;
		}

		p {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 16px 20px;
			transition: 0.5s;
			opacity: 0;
			// visibility: hidden;
			font-size: 14px;
			background: rgba(51, 51, 51, .7);
			width: 90%;
			padding: 10px 8px;
			border-radius: 10px;
			color: white;

			@media (hover: none) {
				opacity: 1;
				visibility: visible;
				color: #cacaca;
				line-height: 1.4;
				margin-bottom: 20px;
				margin-top: 10px;
				font-size: 14px;
			}
		}

		a {
			display: inline-block;
			padding: 10px 20px;
			background: #fff;
			border-radius: 4px;
			margin-top: 10px;
			text-decoration: none;
			font-weight: 600;
			color: #111;
			opacity: 0;
			transform: translateY(50px);
			transition: 0.2s;
			margin-top: 0;
			box-shadow: 0 0 10px 0.15rem #63c1ed;

			&:hover { box-shadow: 0 0 10px 0.15rem #ed63bd; }

			@media (hover: none) {
				opacity: 1;
				transform: translateY(0px);
			}
		}
	}
}

.gsap-anim {
	position: relative;
	height: 50000px;
}
.scene { 
	position: fixed;
	top: 0;
	bottom: 0;

	width: 100%;
	height: 100vh;

	// background-color: #12012d;

	> img { width: 100%; height: 100%; object-fit: cover;}

}
.first-scene {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 10;
}
.second-scene {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 9;

	filter: blur(2px);
}


.rocket {

	position: fixed;
	top: calc(100% - 550px);
	left: calc(50% - 137px);
	z-index: 100;

	&__pic {
		position: relative;
		width: 274px;
		height: 428px;
		z-index: 5;
	}

	&__fire {
		position: absolute;
		top: 374px;
		left: calc( 50% - 60px );
		width: 120px;
		height: 40px;
		opacity: 0;
		z-index: 4;
	}

	&__stock {
		position: absolute;
		top: 180px;
		left: -94px;
		height: 70%;
		z-index: 5;
	}

	&__cloud {
		position: absolute;
		bottom: -125px;
		left: calc(50% - 383px);
		width: 800px;
		min-width: 800px;
		height: 0px;
		filter: blur(5px);
		z-index: 5;
	}
}